* {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;

    background-color: #f6f5f5
    
}

h1 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.header-title {
    font-size: 28px;
}

span {
    color: #ff3e6c;
}

.header-link {
    font-size: 18px;
    text-decoration: none;
    color: #7E7F86;

    transition: color .2s linear;
}

.header-link:hover {
    color: #25202F;
}

.header-link:not(:last-child) {
    margin-right: 25px;
}

/* about me section */

main {
    margin-top: 50px;
}

.about {
    display: flex;

}

.my-name {
    font-size: 36px;
}

.description {
    width: 60%;
    line-height: 1.5;
    font-size: 18px;

    margin-bottom: 70px;

}

.about-img {
    position: relative;
    top: -60px;
}

.about-img img{
    width: 400px;
    height: 400px;
}

.contact-me {
    text-decoration: none;
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: #ff3e6c;
    transition: .1s linear;
}

.contact-me:hover {
    background-color: #25202F;
}